body {
    background-color:white;
} 
header {
    border-collapse: collapse;
    background-color: #dddddd;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}  
table {
    margin-left: 10%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

footer {
    text-align: center;
}
#leastToGreater {
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 11px;
}
#greatestToLeast {
  border-radius: 50%;
  background-color: green;
  color: white;
  font-size: 11px;

}